:root {
    --gradiente: linear-gradient(
      to right,
      rgba(12, 10, 47, 1) 0%,
      rgba(21, 177, 209, 0.7651435574229692) 100%
    );
    --oscuro: rgba(12, 10, 47, 1);
    --claro: rgba(21, 177, 209, 0.7651435574229692);
  }
  html {
    scroll-behavior: smooth;
  }
  
  div {
    max-width: 400px;
  }
  
  /* Barra de navegacion */
  
  .navbar {
    background: var(--gradiente);
  }
  
  .container-fluid {
    max-width: 1300px;
  }
  
  .navbar a {
    color: white;
  }
  .navbar a:hover {
    color: white;
    font-weight: bolder;
  }
  .navbar button .navbar-toggler {
    color: white;
  }
  
  /* Cuerpo */
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  
  .fullscreen {
    margin: 0;
    height: 92vh;
    min-width: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* border: 10px solid orange; */
  }
  
  .item,
  .color-item {
    /* border: solid black 3px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
  }
  
  h1{
      animation: fadeIn 2s;
  }
  
  .color-item {
    background: linear-gradient(
      to right,
      rgba(12, 10, 47, 1) 0%,
      rgba(21, 177, 209, 0.7651435574229692) 100%
    );
    animation: walkInLeft 2s;
  }
  
  .home-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    animation: walkInRight 2s;
  }
  
  .main-buttons {
    font-size: 30px;
    margin: 10px auto;
    width: 40%;
    font-size: large;
    color: white;
    border-color: white;
    animation: fadeIn 5s;
  }
  
  .palabra-resaltada {
    background: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  
  @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
  
  @keyframes walkInLeft {
      0% {margin-right: 100%;}
      100% {margin-right: 0;}
    }
  
  @keyframes walkInRight {
      0% {margin-left: 100%;}
      100% {margin-left: 0;}
    }